.custom-login{
    height: 500px;
    padding-top: 100px;
}

img.slider-img{
    height: 400px !important;
}

.custom-product{
    height: 600px !important;
}

.slider-text{
    background-color: #35443585;
}

img.trending-img{
    height: 200px !important;
}

.trending-item{
    float: left;
    width: 20%;
}

.trending-wrapper{
    margin: 30px;
}

footer.fixed-bottom{
    clear: both;
}

img.detail-img{
    height: 200px;
}

.copyrightContainer{
    background-color: rgba(0, 0, 0, 0.2);
}

.cart-list-divider{
    border-bottom: 1px solid #ccc;
    margin-bottom: 1%;
    padding-bottom: 1%; 
}